# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
ali

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.txt
ali-debug.log

# IDE
.idea

# Dependency directories (remove the comment below to include it)
# vendor/

.DS_Store
